<%= form_for(album) do |f| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %>
    <%= f.text_field :Nombre  , class: 'form-control'%>
  </div>

  <div class="field">
    <%= f.label :Imagen %>
    <%= f.file_field :image  , class: 'form-control'%>
  </div>

  <div class="field">
    <%= f.label :Fecha %>
    <br/>
    <br/>
    <%= f.date_select(:Fecha,{:order => [:day, :month, :year], :start_year => 1920, :end_year => 2017},{class: 'select'})%>
  </div>

  <div class="field">
    <%= f.label :Artista %>
    <br/>
    <br/>
    <%= collection_select(:album,:artist_id, Artist.all,:id, :Nombre,{include_blank: true},{class: 'select'}) %>
    <%= link_to 'Nuevo Artista', new_artist_url, class: 'btn white-font red-back'%>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn red-back white-font'%>
  </div>
<% end %>
