<p id="notice"><%= notice %></p>

<h1>Playlists de <%=@user.email%></h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.Nombre %></td>
        <td><%= playlist.Descripcion %></td>
        <td><%= button_to 'Show', user_playlist_path(@user,playlist) ,:method => 'get', class: 'btn red-back white-font'%></td>
        <td><%= button_to 'Edit', edit_user_playlist_path(@user,playlist) ,:method => 'get', class: 'btn red-back white-font'%></td>
        <td><%= button_to 'Destroy', [@user,playlist], method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn red-back white-font'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Playlist', new_user_playlist_path ,:method => 'get', class: 'btn red-back white-font'%>