<!DOCTYPE html>
<html>
  <head>
    <title>NewPlaying</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" 
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'layouts/center'%>
    <%= yield %>
    <%= render 'layouts/centerend'%>
  </body>
</html>
